<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <!--        <li class="nav-item">-->
            <a class="nav-link" href="/login">LogIn</a>
        </li>
        <!--        <li class="nav-item">-->
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/feed">Feed</a>
        </li>

        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{|/user/${#authentication.principal.id}|}">User</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/users">ALL Users</a>
        </li>
    </ul>
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name"></span></div>
</nav>

    <ul>
        <li> <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"></li>
        <li th:text=${user.username}></li>
        <li th:text=${user.firstname}></li>
        <li th:text=${user.lastname}></li>
        <li th:text=${user.dateOfBirth}></li>
        <li th:text=${user.bio}></li>
    </ul>
<form action="/follow" method="Post" th:if="${user.id != #authentication.principal.id}">
    <input type="hidden" class="form-control" placeholder="Enter Username"  name="id" th:value="${user.id}">
<button type="submit" class="btn btn-primary">follow</button>
</form>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>